{% extends 'base.html' %}

{% block content %}

    <form action=" {% url 'article:article_delete_url' id=article.id %} " method='POST'>
    {% csrf_token %}
        <div class="text-center m-3">  
            <h2 > Хотите удалить статью: "{{ article.title }}" ?</h2>
            <a class='btn btn-secondary' href= "{% url 'article:article_detail_url' id=article.id %}"> Отмета </a>
            <button type='submit' name='button' class='btn btn-danger'> Удалить </button>
        </div>
    </form>

{% endblock %}