{% extends 'base.html' %}

{% block content %}

    <h3 class='my-4'> Статьи с тегом "{{tag.title}}": </h3>

    {% for article in tag.article_set.all %}
        <div class="card my-4">
            <div class="card-header">
                {{ article.pub_date|date:"d E Y, D" }}
            </div>
            <div class="card-body">
                <h5 class="card-title">{{ article.title }}</h5>
                <p class="card-text">{{ article.text|truncatewords:30 }}
                <a href=" {% url 'article:article_detail_url' id=article.id %} " class="">(читать полностью)</a>
                </p>
            </div>
            <div class="card-footer text-muted">
                tags:
                {% for tag in article.tags.all %}
                    <a href="{% url 'article:tag_detail_url' name=tag.title %}"> {{ tag.title }}</a>, 
                {% endfor %}
            </div>
        </div>
    {% endfor %} 

{% endblock %}